.animate-bg-text {
    animation: animated_text 1s ease-in-out infinite;
}

@keyframes animated_text {
    0% { background-position: 0px 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0px 50%; }
}